{% extends 'base.html' %}
{% block canonical_url %}
{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    <div class="content-error">
        <div class="content-error__wrapper">
            <div class="epic-error-code">
                403
            </div>
            <div class="epic-error-text">

                Доступ запрещён
                <p>У вас нет доступа к этой странице</p>

            </div>
            <div class="epic-link">


                Попробуйте перейти на <a href="/">главную страницу</a>


            </div>
        </div>
    </div>


{% endblock %}