{% extends 'base.html' %}
{% block canonical_url %}
{% endblock %}
{% block content %}
    <div class="content-error">
        <div class="content-error__wrapper">
            <div class="epic-error-code">
                404
            </div>
            <div class="epic-error-text">

                Страница не существует
                <p>Страница была удалена или никогда не существовала</p>

            </div>
            <div class="epic-link">


                Попробуйте перейти на <a href="/">главную страницу</a>


            </div>
        </div>
    </div>


{% endblock %}