{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'notes/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="content-error">
    <div class="content-error__wrapper">
        <div class="epic-error-code">
            500
        </div>
        <div class="epic-error-text">

            Мы уже в курсе про эту ошибку
            <p>Скоро всё починим</p>

        </div>
        <div class="epic-link">


            Попробуйте зайти чуть попозже


        </div>
    </div>
</div>


</body>
</html>
