<!-- choocha\notes\templates\choocha\about.html -->
{% extends 'base.html' %}
{% block canonical_url %}
    <link rel="canonical" href="{% url 'about' %}"/>
{% endblock %}
{% block content %}
    
    <h1> {{ title }} </h1>
    <p>Данный сайт является учебным проектом, разработанным в процессе изучения Django.</p>

    <!-- Дополнительная информация -->
    <p>Цель проекта - освоить основы работы с фреймворком Django и создать функциональный веб-приложение.</p>

    <!-- Возможные будущие улучшения -->
    <p>В планах - расширение функционала и добавление новых возможностей.</p>


{% endblock %}