<!-- choocha\notes\templates\notes\contact.html -->
{% extends 'base.html' %}
{% block canonical_url %}
    <link rel="canonical" href="{% url 'contact' %}"/>
{% endblock %}

{% block content %}
    <div class="article">
        <h2> {{ page_description }}</h2>

        <form method="post">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for field in form %}
                {% if not field.is_hidden %}  <!-- Проверяем, не является ли поле скрытым -->
                    <div class="form-field">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}
                        <div class="form-error">{{ field.errors }}</div>
                    </div>
                {% else %}
                    <div class="hidden-field">{{ field }}</div>
                {% endif %}
            {% endfor %}

            <button type="submit">Отправить</button>
        </form>

    </div>
    <div class="clear"></div>
    <div class="article">
        <h2> Контакты </h2>
        <ul>
            <li><a href='https://stepik.org/users/662087649/profile'>Профиль на Stepik</a></li>
            <li><a href='https://spb.hh.ru/resume/24edecd5ff0d2530ba0039ed1f4d6c53546c35'>Резюме на hh.ru</a></li>
            <li><a href='https://t.me/FominyhVV'>Telegram</a></li>
        </ul>
    </div>
{% endblock %}