{% extends 'base.html' %}
{% load static %}

{# Обязательные элементы #}
{% block page_title %}{{ page_title|default:"choocha.ru" }}{% endblock %}
{% block canonical_url %}{{ canonical_url }}{% endblock %}

{% if robots %}
    {# Служебная страница - только минимальная разметка #}
    {% block robots %}{{ robots }}{% endblock %}
    {% block og_type %}website{% endblock %} {# Минимальный OG для соцсетей #}
{% else %}
    {# Публичная страница - полная SEO-разметка #}
    {% block page_description %}{{ page_description|default:"Информационный сайт choocha.ru"|truncatechars:160}}{% endblock %}
    {% block og_title %}{{ og_title|default:page_title|truncatechars:65}}{% endblock %}
    {% block og_description %}{{ og_description|default:page_description|truncatechars:65}}{% endblock %}
    {% block og_type %}{{ og_type|default:"website" }}{% endblock %}
{% endif %}


{# Основное содержимое страницы #}
{% block content %}
    <div class="article">
        <h2> {{ article_title }}</h2>

        <form method="post">
            {% csrf_token %}

            {# Общие ошибки формы #}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {# Поля формы #}
            {% for field in form.visible_fields %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </div>
            {% endfor %}

            {# Скрытые поля #}
            {% for hidden_field in form.hidden_fields %}
                <div class="hidden-field">{{ hidden_field }}</div>
            {% endfor %}

            <button type="submit">Отправить</button>
        </form>

    </div>
    <div class="clear"></div>
    <div class="article">
        <h2> Контакты </h2>
        <ul>
            <li><a href='https://stepik.org/users/662087649/profile'>Профиль на Stepik</a></li>
            <li><a href='https://spb.hh.ru/resume/24edecd5ff0d2530ba0039ed1f4d6c53546c35'>Резюме на hh.ru</a></li>
            <li><a href='https://t.me/FominyhVV'>Telegram</a></li>
            <li><a href='https://github.com/fominihvv/choocha_grid.git'>GitHub</a></li>
        </ul>
    </div>
{% endblock %}