<!-- choocha\notes\templates\notes\delete_post.html -->
{% extends 'base.html' %}
{% block canonical_url %}
    <link rel="canonical" href="{% url 'delete_post' post.pk %}"/>
{% endblock %}
{% block content %}
    <h1> {{ title }} </h1>
    {% csrf_token %}
    <form action="" method="post">
        <p>Вы действительно хотите удалить пост "{{ post.title }}"?</p>
        <div class="comment-actions">
            <!-- Зелёная кнопка "Отмена" -->
            <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-compact-green">Отмена</a>
            <!-- Красная кнопка "Удалить" -->
            <button type="submit" class="btn btn-sm btn-compact-danger">Удалить</button>
        </div>
    </form>



{% endblock %}