<!-- choocha\notes\templates\notes\delete_post.html -->
{% extends 'base.html' %}
{% block canonical_url %}
    <link rel="canonical" href="{% url 'delete_post' post.pk %}"/>
{% endblock %}
{% block content %}
    <h1> {{ title }} </h1>

    <form action="" method="post">
        {% csrf_token %}

        <p>Вы действительно хотите удалить пост "{{ post.title }}"?</p>
        
        <!-- Красная кнопка "Удалить" -->
        <button type="submit" class="button-danger">Удалить</button>
        
        <!-- Зелёная кнопка "Отмена" -->
        <a href="{{ post.get_absolute_url }}" class="button-success">Отмена</a>

    </form>
{% endblock %}