<!-- choocha\notes\templates\notes\index.html -->
{% extends 'base.html' %}

{% block canonical_url %}
    <link rel="canonical" href="{% url 'home' %}"/>
{% endblock %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Скрипт для автоматического скрытия сообщений -->
    <script>
        // Скрыть сообщения через 5 секунд
        setTimeout(function () {
            var messages = document.querySelectorAll('.alert');
            messages.forEach(function (message) {
                message.style.display = 'none';
            });
        }, 5000);  // 5000 миллисекунд = 5 секунд
    </script>

    <ul class="list-articles">
        {% for post in posts %}
            <li class="article">
                <div class="article-panel">
                    <p class="first">
                        Категория:
                        <a href="{{ post.cat.get_absolute_url }}"
                           title="Перейти к категории «{{ post.cat.name|escape }}»">
                            {{ post.cat.name }}
                        </a> |
                        автор: {{ post.author.username|default:"Автор не известен" }}</p>
                    <p class="last">
                        <i class="fas fa-calendar-alt"></i> Опубликовано: {{ post.time_create|date:"d-m-Y H:i" }}
                        {% if post.time_update|date:"d-m-Y H:i" != post.time_create|date:"d-m-Y H:i" %}
                            | <i class="fas fa-sync-alt"></i> Обновлено: {{ post.time_update|date:"d-m-Y H:i" }}
                        {% endif %}
                    </p>
                </div>
                {% comment "Временное отключение изображения" %}
                {% if post.image %}
                    <div class="article-image">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                {% endif %}
                {% endcomment %}
                <a href="{{ post.get_absolute_url }}"
                   class="article-title-link"
                   title="Перейти к статье «{{ post.title|escape }}»">
                    <h2 class="article-title">
                        {{ post.title }}
                    </h2>
                </a>
                {% autoescape off %}
                    <div class="ck-content">
                        {{ post.content_short|safe }}
                    </div>
                {% endautoescape %}
                <div class="clear"></div>
                <p class="link-read-post">
                    <a href="{{ post.get_absolute_url }}" title="Читать далее">Читать далее</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}"
                           title="Перейти к предыдущей странице">&lt;</a>
                    </li>
                {% endif %}

                {% for page_num in page_range %}
                    {% if page_obj.number == page_num or page_num == paginator.ELLIPSIS %}
                        <li class="page-num page-num-selected">{{ page_num }}</li>
                    {% else %}
                        <li class="page-num">
                            <a href="?page={{ page_num }}"
                               title="Перейти к странице номер {{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}" title="Перейти к следующей странице">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

