<!-- choocha\users\templates\users\register.html -->
{% extends 'base.html' %}
{% block canonical_url %}
    <link rel="canonical" href="{% url 'home' %}"/>
{% endblock %}
{% block content %}
    <div class="article">
        <h1> Регистрация </h1>

        <form action="" method="post">
            {% csrf_token %}

            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for field in form %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </div>
            {% endfor %}

            <p>
                <button type="submit" value="Регистрация">Регистрация</button>
            </p>
        </form>
    </div>

{% endblock %}